#addUser{
    margin-left: 1000px;
}

#addCategory{
    margin-left: 1000px;
}

#addProduct{    
    margin-left: 1000px;
}
 .fa-sign-out-alt{
    margin-left: 1200px;
    font-size: 2em;

}
.datediv{
    padding: 20px;
    margin-left: 350px;
}

.vendorDate{
    margin-left: 60px;

}
